<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Contact Us</h1>
    <p>Email: farmhouse@email.com</p>
    <p>Phone: +91 9876543210</p>

    <a href="/">Back to Home</a>
</body>
</html>
